<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/app.css">
    <style>
        * {
            font-weight: bold;
        }
    </style>
</head>
<body class="p-5">
<div class="container">
    <div id="app">

        <div class="row">
            <div class="col-6">
                <button class="btn btn-danger" v-on:click="addUser"> + Add User</button>
            </div>
            <div class="col-6 text-right"><span class="badge badge-warning">
                     User Total :     {{users.length}}</span>
            </div>
        </div>
        <div class="modal fade" id="userModal" tabindex="-1" role="dialog" aria-labelledby="userModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="alert alert-danger text-center" v-if="error !==''">{{error}}</div>
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">New User</h5>


                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form @submit.prevent="true">
                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">Name:</label>
                                <input type="text" class="form-control" v-model="activeUser.name" id="recipient-name">
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">Role:</label>
                                <select name="" id="" v-model="activeUser.role" class="form-control">
                                    <option>user</option>
                                    <option>admin</option>
                                </select>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" @click="registerUser">Add user</button>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <table class="table table-bordered table-hover">
            <tr class="bg-primary text-white">
                <th>Index</th>
                <th>Id</th>
                <th>Name</th>
                <th>Role</th>
                <th class="text-center">Action</th>
            </tr>
            <tr v-for="(user,index) in users">
                <td>{{index + 1}}</td>
                <td>{{user.id}}</td>
                <td>{{user.name}}</td>
                <td>{{user.role}}</td>
                <td class="text-center">
                    <button class="btn btn-danger btn-sm" v-on:click="userDelete(index)"><i class="fa fa-trash"></i>
                    </button>
                    <button class="btn btn-outline-danger btn-sm" v-on:click="userDelete1(user.id)"><i
                        class="fa fa-trash"></i>
                    </button>
                    <button class="btn btn-warning btn-sm" v-on:click="userEdit(user.id)"><i
                        class="fa fa-pencil"></i>
                    </button>
                </td>
            </tr>
        </table>
    </div>
</div>


<script src="../assets/js/vue.js"></script>
<script src="../assets/js/jquery.min.js"></script>
<script src="../assets/js/bootstrap.min.js"></script>

<script>

    const app = new Vue({
        el: '#app',
        name: 'Silicon made academy',
        data: {
            name: 'Merhaba Silicon Ailesi',
            activeUser: {},
            error: '',
            users: [
                {
                    id: 1,
                    name: 'Hulya',
                    role: 'admin'
                },
                {
                    id: 2,
                    name: 'Beyza',
                    role: 'user'
                },
                {
                    id: 3,
                    name: 'Ömer',
                    role: 'user'
                },
                {
                    id: 4,
                    name: 'Buğrahan',
                    role: 'admin'
                }
            ]
        },
        mounted() {
            const count = JSON.parse(localStorage.getItem('users')).length;

            if (count > 0) {
                this.users = JSON.parse(localStorage.getItem('users'))
            }

        },
        methods: {
            addUser() {
                this.activeUser = {};
                $('#userModal').modal('show');
            },
            registerUser() {

                if (this.activeUser.name !== undefined && this.activeUser.role !== undefined) {

                    if (this.activeUser.id > 0) { // edit area

                        let user = this.users.find(resp => resp.id === this.activeUser.id);
                        user.name = this.activeUser.name;
                        user.role = this.activeUser.role;
                        localStorage.setItem('users', JSON.stringify(this.users))

                    } else { // add area
                        this.users.push({
                            id: this.users.length + 1,
                            name: this.activeUser.name,
                            role: this.activeUser.role
                        });

                        localStorage.setItem('users', JSON.stringify(this.users))
                    }

                    this.activeUser = {};
                    $('#userModal').modal('hide');
                } else {
                    this.error = 'Lütfen bilgilerinizi giriniz'
                }
            },
            userDelete(index) {
                const res = confirm('Emin misiniz?')
                if (res) {
                    this.users.splice(index, 1)
                    localStorage.setItem('users', JSON.stringify(this.users))
                }
            },
            userDelete1(id) {
                const res = confirm('Emin misiniz?')
                if (res) {
                    const user = this.users.find(resp => resp.id === id);
                    if (user) {
                        this.users = this.users.filter(data => data.id !== user.id)
                        localStorage.setItem('users', JSON.stringify(this.users))
                    }
                }
            },
            userEdit(id) {
                this.activeUser = {};
                const user = this.users.find(resp => resp.id === id);
                this.activeUser.name = user.name;
                this.activeUser.role = user.role;
                this.activeUser.id = user.id;
                $('#userModal').modal('show');
            }
        }
    });

</script>
</body>
</html>
