<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/app.css">
    <style>
        * {
            font-weight: bold;
        }
    </style>
</head>
<body class="p-5">

<div id="app">
    <p>{{name}}</p>
    <p v-text="name"></p>
    <p v-text="lastname"></p>
    <p v-html="lastname"></p>
    <p id="test"></p>

    <hr>
    <p>{{mesaj}}</p>
    <div>
        <label>Mesaj</label>
        <input type="text" v-model="mesaj" class="form-control">
    </div>

    <div>
        <label>Fiyat</label>
        <textarea v-model="message" class="form-control" maxlength="20"></textarea>
        <span class="float-right">{{20 - message.length}}</span>
        <hr>
        <input type="text" v-model.number="fiyat" class="form-control" maxlength="20">

        <span class="badge badge-warning">    Kdv Tutarı : {{fiyat * 18 / 100}}</span><br>

        <span class="badge badge-danger" v-once>    Kdv Tutarı : {{fiyat * 18 / 100}}</span><br>


      <span class="badge badge-info">  {{(fiyat * 18 / 100) < 5 ? "Kdv Düşük" : "Kdv Yüksek"}}</span>

    </div>

</div>

<script src="assets/js/vue.js"></script>
<script>

    /*    document.getElementById('test').innerHTML = '<h1>test</h1>';
        document.getElementById('test').innerText = 'test';*/

    const app = new Vue({
        el: '#app',
        name: 'Silicon made academy',
        data: {
            name: 'Merhaba Silicon Ailesi',
            mesaj: 'Merhaba',
            lastname: '<h2>Academy</h2>',
            fiyat: 50,
            message: ''
        },
    });

</script>
</body>
</html>
